*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("../images/photo_2022-09-23_18-09-46.jpg");
    
   
}
.select{
    margin-top: 10px;
    width: 250px !important;
}
.wey{
    width: 100%;
    height: 3px;
    background-color: white;
    margin: 20px 0px 20px 0px;
}
.cards{
    gap: 10px;
    margin-top: 150px;
}
.namozVaqti{
    text-align: center;
    font-size: 21px;
    font-weight: bold;
}
.card{
    padding: 10px;
    width: 320px;
    background: grey;
 
}
.card img:hover{
    transform: scale(0.93);
    
}
.card:hover{
    transform: scale(0.99);
       box-shadow: 2px 2px 20px white;
}
.rowscard{
    display: flex !important;
    justify-content: center;
}
.xaftalik{
    display: none;
}
.xaftalik2{
    display: block !important;
}
.oylik{
    display: none;
}
.oylik2{
    display: block;
}
.xaflalikbtn{
    width: 200px;
    color: white;
}
.oylikbtn{
    width: 200px;
    color: white;
}
.window{
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
}
.yoruq{
    top: -40px;
}
.oyquyosh{
    position: absolute;
    right:320px;
    top: 20px;
}
.oy{
    display: none;
}
.bodyoq{
    background: white !important;
}
.oychiq{
    display: block;
}
@media only screen and (max-width: 768px){

    body {
        background-image: url("../images/body-bg20.png");
    }
.container{
    width: 720px !important;
    margin: auto;
}
h1{
    font-size: 42px;
}
.cards{
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
}
.card{
    width: 250px;
    background-color: green;
 }
.row:nth-child(2) {
     display: flex;
     flex-direction: column;
     text-align: center;
 }
.rows{
    margin-left: 100px;
}
.hudud{
    display: flex;
    justify-content: center;
}
.shaxar {
    display: flex;
    width: 100% !important;
    margin-left: -50px;
}
.colTwo {
    width: 100% !important;
    margin-left: -30px;
    margin-top: 20px;
}
.rowscard {
    display: flex;
    flex-direction: column;
}
.select {
    width: 80% !important;
    margin-left: 50px;
}
.card img:hover {
    transform: scale(0.93);
}
.card:hover {
    transform: scale(0.99);
}
.mintaqa{
    padding-left: 20px;
}

}




